<div class="cars">
  <div class="car" *ngFor="let car of cars" >
    <div class="img__box">
      <img [src]="car.img" [alt]="car.name" [routerLink]="[car.id]" />
    </div>
    <div class="content">
      <div class="flex__justify">
        <p class="name">{{car.name}}</p>
        <p class="price">${{car.pricePerDay}}<span>/day</span></p>
      </div>
      <div class="rating__box flex__justify">
        <p class="rating">{{car.rating}}</p>
        <stars [rating]="car.rating"></stars>
      </div>
      <div class="details">
        <p>{{car.doors.detail}} Doors</p>
        <p>{{car.seats.detail}} Seats</p>
      </div>
    </div>
  </div>
</div>
