<div class="cars">
  <div class="car">
    <div class="img__box">
      <img src="/assets/img/bmw/BMW 4 Series 2021-1.jpg" alt="" />
    </div>
    <div class="content">
      <div class="flex__justify">
        <p class="name">Car Name</p>
        <p class="price">$250<span>/day</span></p>
      </div>
      <div class="rating__box">
        <p class="rating">5.0</p>
        <stars></stars>
      </div>
      <div class="details">
        <p>224mph</p>
        <p>4 Seats</p>
      </div>
    </div>
  </div>
</div>
