<div class="flex__center">
  <div class="three-grid">
    <article class="grid-item">
      <h2 class="heading">You’re protected</h2>
      <p>
        Each car on DriveFinder meets our rigorous eligibility standards for
        safety, condition, and operations.
      </p>
    </article>
    <article class="grid-item">
      <h2 class="heading">You’re not alone</h2>
      <p>
        We provide 24/7 roadside assistance and emergency support during each
        trip — and our customer support team is just a call away.
      </p>
    </article>
    <article class="grid-item">
      <h2 class="heading">Your Safety Matters</h2>
      <p>
        We prioritize your safety by ensuring that all cars on DriveFinder
        undergo thorough safety inspections. Drive with peace of mind.
      </p>
    </article>

    <article class="grid-item">
      <h2 class="heading">Secure Booking Process</h2>
      <p>
        Our secure booking process and payment system are designed to protect
        your information. Your transactions are safe and confidential.
      </p>
    </article>

    <article class="grid-item">
      <h2 class="heading">Trusted Community</h2>
      <p>
        Join a trusted community of travelers and hosts. Read reviews, share
        experiences, and contribute to building a reliable and supportive
        network.
      </p>
    </article>

    <article class="grid-item">
      <h2 class="heading">24/7 Support</h2>
      <p>
        Rest easy knowing that our customer support team is available 24/7. Get
        assistance whenever you need it, and experience reliable support
        throughout your journey.
      </p>
    </article>
  </div>
</div>
<span class="flex__center" style="padding: 3rem 0;">
  <button><a href="/">Drive Now</a></button>
</span>

<section style="padding-bottom: 2rem;">
  <section-heading>Tips and tricks</section-heading>
  <div class="flex__center">
    <div class="three-grid">
      <article class="grid-item">
        <h2 class="heading">Research</h2>
        <p>
          Review the profiles of the guests and hosts you’ll be working with. We
          keep a safe and trustworthy marketplace, but only connect with people
          you feel confident meeting in person.
        </p>
      </article>
      <article class="grid-item">
        <h2 class="heading">Review</h2>
        <p>
          Rate and review hosts & guests after each trip to help other members
          make informed decisions when they travel or share their cars.
        </p>
      </article>
      <article class="grid-item">
        <h2 class="heading">Protect yourself</h2>
        <p>
          Never post your address, email, or phone number online. We keep your
          private information private, and only reveal members’ names, numbers,
          and locations once a trip is booked.
        </p>
      </article>

      <article class="grid-item">
        <h2 class="heading">Communication is Key</h2>
        <p>
          Stay in touch with your host or guest. Clear communication helps build
          trust and ensures a smooth experience during your trip.
        </p>
      </article>
      <article class="grid-item">
        <h2 class="heading">Preparedness</h2>
        <p>
          Know the emergency procedures and contact information. Familiarize
          yourself with the local area and nearby facilities for added safety.
        </p>
      </article>
      <article class="grid-item">
        <h2 class="heading">Vehicle Inspection</h2>
        <p>
          Before starting your trip, perform a thorough inspection of the
          vehicle. Report any pre-existing damages or issues to the host for
          documentation.
        </p>
      </article>
      <article class="grid-item">
        <h2 class="heading">Travel Insurance</h2>
        <p>
          Consider obtaining travel insurance for added protection. It can
          provide coverage for unexpected events and emergencies during your
          journey.
        </p>
      </article>
      <article class="grid-item">
        <h2 class="heading">Public Reviews</h2>
        <p>
          Check public reviews and ratings of hosts or guests. Learn from
          others' experiences to make informed decisions when engaging in the
          community.
        </p>
      </article>
    </div>
  </div>
</section>
