<link
  rel="stylesheet"
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
/>
<div class="experiences">
  <div class="experience">
    <div class="imgbox">
      <img src="/assets/img/image_experience_electric.jpg" alt="" />
    </div>
    <div class="experience__detail">
      <img src="/assets/img/electric.svg" alt="" />
      <p>electric</p>
    </div>
  </div>
  <div class="experience">
    <div class="imgbox">
      <img src="/assets/img/image_experience_electric.jpg" alt="" />
    </div>
    <div class="experience__detail">
      <img src="/assets/img/electric.svg" alt="" />
      <p>electric</p>
    </div>
  </div>
</div>

<form>
  <input type="radio" name="fancy" autofocus value="clubs" id="clubs" />
  <input type="radio" name="fancy" value="hearts" id="hearts" />
  <input type="radio" name="fancy" value="spades" id="spades" />
  <input type="radio" name="fancy" value="diamonds" id="diamonds" />
  <label for="clubs">&#9827; Clubs</label
  ><label for="hearts">&#9829; Hearts</label
  ><label for="spades">&#9824; Spades</label
  ><label for="diamonds">&#9830; Diamonds</label>

  <div class="keys">Use left and right keys to navigate</div>
</form>
