.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4.3rem 0;
}

.form-container {
  width: 350px;
  height: 31rem;
  /* background-color: var(--color-white); */
  border: 1px solid var(--color-secondary);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 30px;
  position: relative;
}

.title {
  text-align: center;
  margin: 25px 0 30px 0;
  font-size: 28px;
  font-weight: 800;
  color: var(--color-secondary);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 15px;
}

.input {
  border-radius: 0.2rem;
  width: 100%;
  border: 1px solid var(--color-secondary);
  outline: 0 !important;
  box-sizing: border-box;
  padding: 12px 15px;
  background-color: transparent;
  transition: all 0.4s;
  color: var(--color-secondary);
}

.form-btn {
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid transparent;
  background: var(--color-grey);
  color: var(--color-white);
  cursor: pointer;
  transition: all .8s;
}

.form-btn:hover {
  box-shadow: none;
  background: transparent;
  border: 1px solid var(--color-secondary);
}

.sign-up-label {
  margin: 0;
  font-size: 10px;
  color: var(--color-ash);
}

.sign-up-link {
  margin-left: 1px;
  font-size: 11px;
  text-decoration: underline;
  color: var(--color-ash);
  cursor: pointer;
  font-weight: 800;
}

.sign-up-link:hover {
  color: var(--color-secondary);
}

.buttons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 15px;
  font-family: inherit;
}

.apple-login-button,
.google-login-button {
  border-radius: 0.2rem;
  box-sizing: border-box;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  gap: 5px;
}

.apple-login-button {
  background-color: #000;
  color: var(--color-white);
}

.google-login-button {
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
}

.apple-icon,
.google-icon {
  font-size: 18px;
  margin-bottom: 1px;
}

.user-label {
  position: absolute;
  left: 2.8rem;
  pointer-events: none;
  transform: translateY(0.82rem);
  transition: all 0.4s;
  color: var(--color-secondary);
  font-size: 0.9rem;
}

.input:focus ~ label,
.input:active ~ label,
.input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: var(--color-black);
  padding: 0 0.2em;
  color: var(--color-white);
  /* display: block; */
  caret-color: var(--color-white);
}

.page-link {
  text-decoration: underline;
  margin: 0;
  text-align: end;
  color: var(--color-ash);
}

.page-link-label {
  cursor: pointer;
  font-family: inherit;
  font-size: 10px;
  font-weight: 700;
}

.page-link-label:hover {
  color: var(--color-secondary);
}


.eye {
  position: absolute;
  bottom: 1.15rem;
  right: 2rem;
  transform: translateY(-40%);
  width: 1.2rem;
}

.eye-span {
  position: absolute;
  top: 50%;
  right: 10px;
  cursor: pointer;
}
