.booking {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.booking h2 {
  align-self: flex-start;
}

.booking h2 span {
  font-weight: 300;
  font-size: 20px;
}

.inputs {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  height: 2rem;
}

.big--input input {
  width: 24rem;
}

.small--input {
  display: flex;
  gap: 1.583rem;
}

.small--input input {
  width: 11rem;
}

.booking__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.booking__btn {
  padding: 10px 2rem;
  background: none;
  color: var(--color-ash);
  border: 1px solid var(--color-ash);
  outline: none;
  transition: all 0.4s ease;
}

.booking__btn:hover {
  color: var(--color-white);
  border: 1px solid var(--color-white);
}

.host__profile {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.host__flex {
  display: flex;
  gap: 3rem;
}

.host-name {
  font-weight: 500;
  text-transform: capitalize;
  padding-top: 5px;
  padding-bottom: 0px;
}

.main_p span {
  padding-left: 2px;
}
