<div class="booking">
  <div [ngStyle]="{ display: success ? 'none' : 'block' }">
    <h2>
      {{ car.pricePerDay | currency : "USD" : "symbol" : "1.2-2" }}
      <span>| day</span>
    </h2>
    <div class="booking__main">
      <form [formGroup]="pickupForm" (ngSubmit)="submitForm()">
        <div class="inputs">
          <div class="big--input">
            <input
              required
              type="text"
              placeholder="Pickup location"
              formControlName="pickupLocation"
            />
          </div>
          <div class="small--input">
            <input
              required
              type="time"
              placeholder="Pickup time"
              formControlName="pickupTime"
            />
            <input
              required
              type="date"
              placeholder="Pickup date"
              formControlName="pickupDate"
            />
          </div>
        </div>
      </form>
      <form [formGroup]="dropoffForm">
        <div class="inputs">
          <div class="big--input">
            <input
              required
              type="text"
              placeholder="Drop-off location"
              formControlName="dropoffLocation"
            />
          </div>
          <div class="small--input">
            <input
              required
              type="time"
              placeholder="Drop-off time"
              formControlName="dropoffTime"
            />
            <input
              required
              type="date"
              placeholder="Drop-off date"
              formControlName="dropoffDate"
            />
          </div>
          <div class="error-span">
            <span *ngIf="!pickupForm.valid">{{ pickupFormErrorMessage }}</span>
            <span *ngIf="!dropoffForm.valid">{{ dropoffFormErrorMessage }}</span>
            <span *ngIf="!isAuthenticated">{{ authenticationErrorMessage }}</span>
          </div>
        </div>
      </form>
      <button
        [disabled]="!pickupForm.valid || !dropoffForm.valid || !isAuthenticated"
        class="booking__btn"
        (click)="submitForm()"
      >
        Continue
      </button>
    </div>
  </div>
</div>
