<div class="booking">
  <h2>
    {{ car.pricePerDay | currency : "USD" : "symbol" : "1.2-2" }}
    <span>| day</span>
  </h2>
  <div class="booking__main">
    <form [formGroup]="pickupForm">
      <div class="inputs">
        <div class="big--input">
          <input type="text" placeholder="Pickup location" formControlName="pickupLocation" />
        </div>
        <div class="small--input">
          <input type="time" placeholder="Pickup time" formControlName="pickupTime" />
          <input type="date" placeholder="Pickup date" formControlName="pickupDate" />
        </div>
      </div>
    </form>
    <form [formGroup]="dropoffForm">
      <div class="inputs">
        <div class="big--input">
          <input type="text" placeholder="Drop-off location" formControlName="dropoffLocation" />
        </div>
        <div class="small--input">
          <input type="time" placeholder="Drop-off time" formControlName="dropoffTime" />
          <input type="date" placeholder="Drop-off date" formControlName="dropoffDate" />
        </div>
      </div>
    </form>
    <button class="booking__btn" (click)="submitForm()">Continue</button>
  </div>
</div>
