<div class="booking">
  <h2>
    {{ car.pricePerDay | currency : "USD" : "symbol" : "1.2-2" }}
    <span>| day</span>
  </h2>
  <div class="booking__main">
    <div class="inputs">
      <div class="big--input">
        <input type="text" placeholder="Pickup location" />
      </div>
      <div class="small--input">
        <input type="time" placeholder="Pickup time" />
        <input type="date" placeholder="Pickup date" />
      </div>
    </div>
    <div class="inputs">
      <div class="big--input">
        <input type="text" placeholder="Drop-off location" />
      </div>
      <div class="small--input">
        <input type="time" placeholder="Drop-off time" />
        <input type="date" placeholder="Drop-off date" />
      </div>
    </div>
    <button class="booking__btn">Continue</button>
  </div>
</div>
