.background {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  background-color: var(--color-black);
  height: 20rem;
  filter: brightness(60%);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.home__content {
  top: 18rem;
  left: 50%;
  transform: translate(-50%, -85%);
  position: absolute;
  display: grid;
  place-content: center;
}

.home__img {
  width: 32rem;
  height: auto;
}

.heading1 {
  font-size: 3rem;
  padding-top: 6rem;
  color: var(--color-white);
  padding-bottom: 4rem;
  text-align: center;
}
.heading1 span {
  font-size: 2.8rem;
}
