<main>
  <div class="slider">
    <div class="slide-track">
        <div class="testimonial__box">
            <div class="img">
              <img src="./assets/img/users/user memoji.png" alt="" />
            </div>
            <div class="reviewer">
              <p>Nicholas</p>
              <span>Joined October 8, 2023</span>
            </div>
            <div class="stars">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
            </div>
            <div class="review">
              Great car. Really fun to drive. Cali vibes for sure. Rahim was super
              nice and helpful and picking up the car is really easy from LAX.
              100% would rent again.
            </div>
          </div>
        <div class="testimonial__box">
            <div class="img">
              <img src="./assets/img/users/user memoji.png" alt="" />
            </div>
            <div class="reviewer">
              <p>Nicholas</p>
              <span>Joined October 8, 2023</span>
            </div>
            <div class="stars">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
            </div>
            <div class="review">
              Great car. Really fun to drive. Cali vibes for sure. Rahim was super
              nice and helpful and picking up the car is really easy from LAX.
              100% would rent again.
            </div>
          </div>
        <div class="testimonial__box">
            <div class="img">
              <img src="./assets/img/users/user memoji.png" alt="" />
            </div>
            <div class="reviewer">
              <p>Nicholas</p>
              <span>Joined October 8, 2023</span>
            </div>
            <div class="stars">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
            </div>
            <div class="review">
              Great car. Really fun to drive. Cali vibes for sure. Rahim was super
              nice and helpful and picking up the car is really easy from LAX.
              100% would rent again.
            </div>
          </div>
        <div class="testimonial__box">
            <div class="img">
              <img src="./assets/img/users/user memoji.png" alt="" />
            </div>
            <div class="reviewer">
              <p>Nicholas</p>
              <span>Joined October 8, 2023</span>
            </div>
            <div class="stars">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
            </div>
            <div class="review">
              Great car. Really fun to drive. Cali vibes for sure. Rahim was super
              nice and helpful and picking up the car is really easy from LAX.
              100% would rent again.
            </div>
          </div>
        <div class="testimonial__box">
            <div class="img">
              <img src="./assets/img/users/user memoji.png" alt="" />
            </div>
            <div class="reviewer">
              <p>Nicholas</p>
              <span>Joined October 8, 2023</span>
            </div>
            <div class="stars">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
            </div>
            <div class="review">
              Great car. Really fun to drive. Cali vibes for sure. Rahim was super
              nice and helpful and picking up the car is really easy from LAX.
              100% would rent again.
            </div>
          </div>
        <div class="testimonial__box">
            <div class="img">
              <img src="./assets/img/users/user memoji.png" alt="" />
            </div>
            <div class="reviewer">
              <p>Nicholas</p>
              <span>Joined October 8, 2023</span>
            </div>
            <div class="stars">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
            </div>
            <div class="review">
              Great car. Really fun to drive. Cali vibes for sure. Rahim was super
              nice and helpful and picking up the car is really easy from LAX.
              100% would rent again.
            </div>
          </div>
        <div class="testimonial__box">
            <div class="img">
              <img src="./assets/img/users/user memoji.png" alt="" />
            </div>
            <div class="reviewer">
              <p>Nicholas</p>
              <span>Joined October 8, 2023</span>
            </div>
            <div class="stars">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
            </div>
            <div class="review">
              Great car. Really fun to drive. Cali vibes for sure. Rahim was super
              nice and helpful and picking up the car is really easy from LAX.
              100% would rent again.
            </div>
          </div>
        <div class="testimonial__box">
            <div class="img">
              <img src="./assets/img/users/user memoji.png" alt="" />
            </div>
            <div class="reviewer">
              <p>Nicholas</p>
              <span>Joined October 8, 2023</span>
            </div>
            <div class="stars">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
            </div>
            <div class="review">
              Great car. Really fun to drive. Cali vibes for sure. Rahim was super
              nice and helpful and picking up the car is really easy from LAX.
              100% would rent again.
            </div>
          </div>
        <div class="testimonial__box">
            <div class="img">
              <img src="./assets/img/users/user memoji.png" alt="" />
            </div>
            <div class="reviewer">
              <p>Nicholas</p>
              <span>Joined October 8, 2023</span>
            </div>
            <div class="stars">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
            </div>
            <div class="review">
              Great car. Really fun to drive. Cali vibes for sure. Rahim was super
              nice and helpful and picking up the car is really easy from LAX.
              100% would rent again.
            </div>
          </div>
        <div class="testimonial__box">
            <div class="img">
              <img src="./assets/img/users/user memoji.png" alt="" />
            </div>
            <div class="reviewer">
              <p>Nicholas</p>
              <span>Joined October 8, 2023</span>
            </div>
            <div class="stars">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
            </div>
            <div class="review">
              Great car. Really fun to drive. Cali vibes for sure. Rahim was super
              nice and helpful and picking up the car is really easy from LAX.
              100% would rent again.
            </div>
          </div>
      </div>
      <!-- <div class="slide">
        <div class="testimonial__box">
            <div class="img">
              <img src="./assets/img/users/user memoji.png" alt="" />
            </div>
            <div class="reviewer">
              <p>Nicholas</p>
              <span>Joined October 8, 2023</span>
            </div>
            <div class="stars">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
            </div>
            <div class="review">
              Great car. Really fun to drive. Cali vibes for sure. Rahim was super
              nice and helpful and picking up the car is really easy from LAX.
              100% would rent again.
            </div>
          </div>
      </div> -->
    </div>

  <div hidden>
    <ul class="testimonial__list">
      <li>
        <div class="testimonial__box">
          <div class="img">
            <img src="./assets/img/users/user memoji.png" alt="" />
          </div>
          <div class="reviewer">
            <p>Nicholas</p>
            <span>Joined October 8, 2023</span>
          </div>
          <div class="stars">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
          </div>
          <div class="review">
            Great car. Really fun to drive. Cali vibes for sure. Rahim was super
            nice and helpful and picking up the car is really easy from LAX.
            100% would rent again.
          </div>
        </div>
      </li>
    </ul>
  </div>
</main>
