.imgbox {
  width: 17rem;
}

.imgbox img {
  width: 100%;
  border-radius: 5px;
  height: 10rem;
  filter: brightness(70%);
  transition: all 0.4s ease;
}

.imgbox img:hover {
  filter: brightness(100%);
}


.brands {
  padding: 20px 0;
}

.fluid {
  padding: 0 3rem;
  display: flex;
  justify-content: center;
}

.slider-wrap {
  position: relative;
  overflow: hidden;
  height: 160px;
  width: 74%;
  padding: 0 2rem;
}

.slider-main {
  position: absolute;
  width: 200%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.item {
  display: inline-block;
  width: 312px;
  height: 150px;
  position: relative;
  margin: 0 12px;
  width: max-content;
  height: 151px;
  position: relative;
  cursor: pointer;
}

.text {
  text-transform: capitalize;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
  font-weight: 600;
  z-index: 10;
}

.sliderbtn__box {
  /* display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
  position: absolute;
  z-index: 1000;
  top: 4rem;
  width: 100%; */

  position: absolute;
  z-index: 1;
  top: 50%;
  width: 100%;
}

.prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.next {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translate(-50%, -50%);
}

.sliderbtn {
  background: var(--bg-color-even);
  color: var(--color-ash);
  font-size: 1.8rem;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
}

.sliderbtn:hover {
  color: var(--primary-color);
}
