<section class="brands">
  <div class="fluid">
    <div class="slider-wrap">
      <div class="slider-main">
        <div class="item" *ngFor="let brand of brands">
          <div class="text">{{ brand.text }}</div>
          <div class="imgbox">
            <img [src]="brand.img" [alt]="brand.text" />
          </div>
        </div>
      </div>
      <div class="sliderbtn__box">
        <button class="sliderbtn prev" appPrev>
          <i class="bx bx-chevron-left"></i>
        </button>
        <button class="sliderbtn next" appNext>
          <i class="bx bx-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
</section>
