<header-hero> </header-hero>

<section-heading>Explore Cars by</section-heading>
<div class="flex__center">
  <div class="tabs">
    <input
      type="radio"
      id="radio-1"
      name="tabs"
      checked
      (change)="sortByBrands = !sortByBrands; sortByCategory = !sortByBrands"
    />
    <label class="tab" for="radio-1">Brands</label>
    <input
      type="radio"
      id="radio-2"
      name="tabs"
      (change)="
        sortByCategory = !sortByCategory; sortByBrands = !sortByCategory
      "
    />
    <label class="tab" for="radio-2">Category</label>
    <span class="glider"></span>
  </div>
</div>

<section *ngIf="sortByBrands">
  <!-- <section-heading>Explore Cars by Brands</section-heading> -->
  <brands [brands]="filteredCars$ | async"></brands>
</section>

<section *ngIf="sortByCategory">
  <!-- <section-heading>Explore Cars by Category</section-heading> -->
  <category [categories]="categorizedCars$ | async"></category>
</section>

<section>
  <section-heading>Features</section-heading>
  <main-features></main-features>
</section>

<section>
  <section-heading>Recent Reviews</section-heading>
  <main>
    <div class="slider">
      <div class="slide-track">
        <home-testimonials
          *ngIf="reviews$"
          [reviews]="reviews$ | async"
        ></home-testimonials>
      </div>
    </div>
  </main>
</section>

<section>
  <section-heading>Faq</section-heading>
  <faq [items]="faq$ | async"></faq>
</section>
