<navigation></navigation>

<div>
  <div class="background"></div>
  <div class="home__content">
    <h1 class="heading1">
      DriveFinder -<br />
      <span>
        Your Gateway to <br />
        Seamless Car Rentals!</span
      >
    </h1>

    <div class="search">
      <input type="text" placeholder="Where" />
      <input type="text" placeholder="From" />
      <input type="text" placeholder="Until" />

      <button class="search__svg">
        <img src="./assets/img/search.svg" alt="search icon" />
      </button>
    </div>
  </div>
</div>

<section class="explore">
  <h2 class="section__heading">Explore Cars by Brands</h2>
  <brands></brands>
</section>

<section class="features__session">
  <h2 class="section__heading">Features</h2>
  <main-features></main-features>
</section>

<section class="home-testimonials">
  <h2 class="section__heading">Recent Reviews</h2>
  <home-testimonials></home-testimonials>
</section>

<section class="features__session">
  <h2 class="section__heading">Faq</h2>
  <app-faq></app-faq>
</section>

Why Zipcar? Reserve wheels when you want them, by the hour or day, and only pay
for the time you drive. piggy bank icon Save money Zipcar covers gas, insurance
options,* parking, and maintenance for a potential savings of $1000/month over
car ownership. map icon Cars near you Zipcars live in your local neighborhood,
and in cities, campuses and airports across the globe. half sun/moon icon Drive
on-demand No waiting in line at the counter. (No need to even search for your
keys!) Just book and go. rocket icon Go beyond public transit Zipcar is the
perfect complement to the bus and train—whether it’s local errands or weekend
adventures.
