main {
  height: 20rem;
  color: var(--color-white);
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 5rem;
  height: 65%;
}

.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  width: calc(250px * 14);
  height: 90%;
  display: flex;
  gap: 2rem;
}

.slider .slide {
  height: 100px;
  width: 250px;
}

.tabs {
  display: flex;
  position: relative;
  padding: 10px;
  background-color: var(--lightgray);
  border-radius: 5px;
  width: max-content;
  * {
    z-index: 2;
  }
}

input[type="radio"] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 200px;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

input[type="radio"] {
  &:checked {
    & + label {
      color: var(--lightgray);
    }
  }
}

input[id="radio-1"] {
  &:checked {
    & ~ .glider {
      transform: translateX(0);
    }
  }
}

input[id="radio-2"] {
  &:checked {
    & ~ .glider {
      transform: translateX(100%);
    }
  }
}


.glider {
  position: absolute;
  display: flex;
  height: 54px;
  width: 200px;
  background-color: var(--color-black);
  z-index: 1;
  border-radius: 5px;
  transition: 0.25s ease-out;
}

@media (max-width: 700px) {
  .tabs {
    transform: scale(0.6);
  }
}
