<header-hero> </header-hero>

<section *ngIf="filteredCars.length > 0">
  <section-heading>Explore Cars by Brands</section-heading>
  <brands [brands]="filteredCars"></brands>
</section>

<section>
  <section-heading>Explore Cars by Category</section-heading>
  <category [categories]="categorizedCars"></category>
</section>

<section>
  <section-heading>Features</section-heading>
  <main-features></main-features>
</section>

<section>
  <section-heading>Recent Reviews</section-heading>
  <main>
    <div class="slider">
      <div class="slide-track">
        <home-testimonials [reviews]="reviews"></home-testimonials>
      </div>
    </div>
  </main>
</section>

<section>
  <section-heading>Faq</section-heading>
  <app-faq></app-faq>
</section>
