.explore {
  height: 25rem;
  text-align: center;
  font-size: 1.5rem;
}

.features__session {
  padding-top: 1.2rem;
}
.section__heading {
  font-size: 2.5rem;
  text-align: center;
  color: var(--color-white);
  background: linear-gradient(hsl(0 0% 10%), hsl(0 0% 60%));
  background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
