<div class="home">
  <div>
    <h1 class="heading1">
      DriveFinder -<br />
      <span>
        Your Gateway to <br />
        Seamless Car Rentals!</span
      >
    </h1>
    <button class="home__button">Get started</button>
  </div>

</div>
<section class="features__session">
  <h2 class="features__h1">Features</h2>
  <div class="features">
    <div class="features__div">
      <img class="feature__img" src="/assets/img/img-1.jpg" />
      <div class="feature__block">
        <h4 class="feature__heading">Real-Time Location Tracking</h4>
        <p class="feature__p">
          Effortlessly find available cars near you. Our platform updates in
          real-time, ensuring accurate and timely information.
        </p>
      </div>
    </div>
    <div class="features__div">
      <img class="feature__img" src="/assets/img/img-1.jpg" />
      <div class="feature__block">
        <h4 class="feature__heading">Diverse Fleet Selection</h4>
        <p class="feature__p">
          From compact cars to SUVs, our extensive fleet caters to all your
          travel needs. Filter by model, brand, or features to find the vehicle
          that suits you.
        </p>
      </div>
    </div>
    <div class="features__div">
      <img class="feature__img" src="/assets/img/img-1.jpg" />
      <div class="feature__block">
        <h4 class="feature__heading">Instant Booking</h4>
        <p class="feature__p">
          Reserve your chosen car with just a few clicks. Enjoy the convenience
          of a streamlined booking process, saving you time for your upcoming
          journey.
        </p>
      </div>
    </div>
    <div class="features__div">
      <img class="feature__img" src="/assets/img/img-1.jpg" />
      <div class="feature__block">
        <h4 class="feature__heading">Transparent Pricing</h4>
        <p class="feature__p">
          No hidden fees! Our pricing model is transparent, providing you with a
          clear breakdown of costs, including taxes and insurance.
        </p>
      </div>
    </div>
  </div>
</section>


Why Zipcar?
Reserve wheels when you want them, by the hour or day, and only pay for the time you drive.
piggy bank icon
Save money

Zipcar covers gas, insurance options,* parking, and maintenance for a potential savings of $1000/month over car ownership.
map icon
Cars near you

Zipcars live in your local neighborhood, and in cities, campuses and airports across the globe.
half sun/moon icon
Drive on-demand

No waiting in line at the counter. (No need to even search for your keys!) Just book and go.
rocket icon
Go beyond public transit

Zipcar is the perfect complement to the bus and train—whether it’s local errands or weekend adventures.


<style>
  .home {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    height: 75vh;
    border-bottom: 1px solid var(--color-black);
    background-color: var(--color-white);
  }
  .heading1 {
    font-size: 3rem;
    padding-top: 6rem;
  }
  .heading1 span {
    font-size: 2.8rem;
  }
  .home__button {
    padding: 0.8rem 2rem;
    background-color: var(--color-black);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: var(--color-white);
    font-family: inherit;
    transition: all 0.6s;
  }
  .home__button:hover {
    border-radius: 5px;
    border: 1px solid var(--color-black);
    background-color: transparent;
    color: var(--color-black);
  }

  .features__session {
    padding-top: 1.2rem;
  }
  .features__h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .features {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
  }
  .features__div {
    border-radius: 5%;
    overflow: hidden;
    width: 18rem;
    border: 1px solid var(--color-black);
    padding: auto;
  }

  .feature__img {
    width: 17rem;
    height: 10rem;
  }

  .feature__block {
    background-color: var(--color-black);
    color: var(--color-white);
    height: 10.5rem;
    padding: 0 1rem;
  }

  .feature__heading {
    padding-top: 1rem;
  }

  .feature__p {
    font-size: 1rem;
  }
</style>
