<header-sub
  [title]="'Rent a ' + brand?.brandName"
  [imgUrl]="brand?.backgroundImg"
></header-sub>

<section style="padding-top: 4.2rem;">
  <p class="small__heading pa">Top rated cars</p>
  <div class="d" >
    <brand-cars [cars]="brand?.cars"></brand-cars>
  </div>
  <div class="flex__center btn__box">
    <button class="CTA">Book a brand</button>
  </div>
</section>

<section>
  <div class="flex__center pad">
    <div class="img-container">
      <img [src]="brand?.curvedImg" [alt]="brand?.brandName" />
    </div>
    <div class="content">
      <h2>{{ brand?.brandDetail?.legend?.content }}</h2>
      <P class="small__content">{{ brand?.brandDetail?.legend?.p }}</P>
      <div class="flex__justify btn__box">
        <button class="CTA">{{ brand?.brandDetail?.button }}</button>
      </div>
    </div>
  </div>
</section>

<section>
  <section-heading>{{ brand?.brandDetail?.top?.top }}</section-heading>
  <div class="padding__box">
    <div class="three__grid">
      <div
        class="grid__item"
        *ngFor="let rated of brand?.brandDetail?.top?.topCars"
      >
        <p class="small__heading">{{ rated.name }}</p>
        <p class="small__content">{{ rated.content }}</p>
      </div>
    </div>
  </div>
  <div class="flex__center btn__box">
    <button class="CTA">{{ brand?.brandDetail?.top?.button }}</button>
  </div>
</section>

<section>
  <section-heading>Faq</section-heading>
  <app-faq [items]="brand?.brandFaq"></app-faq>
</section>
