<div>
  <div class="background"></div>
  <div class="home__content">
    <h1 class="heading1">
      DriveFinder -<br />
      <span>
        Your Gateway to <br />
        Seamless Car Rentals!</span
      >
    </h1>

  
    <div class="search">
      <input type="text" placeholder="Where" />
      <input type="text" placeholder="From" />
      <input type="text" placeholder="Until" />

      <button class="search__svg">
        <img src="./assets/img/search.svg" alt="search icon" />
      </button>
    </div>
  </div>
</div>
