<nav></nav>
<main class="container" style="color: #fff">
  <div class="heading__box">
    <h1 class="heading">DriveFinder</h1>
    <p class="bold-p">Your Gateway to Seamless Car Rentals!</p>
  </div>
  <div class="browse-cars">
    <h3>Select Cars</h3>
    <input type="search" />
    <div class="flex">
      <p class="bold-p">Top Brands</p>
      <p class="show">Show more ></p>
    </div>

    <div class="brands">
      <div class="brand">
        <img src="/assets/img/bmw-logo.png" alt="" />
        <p hidden class="bold-p">BMW</p>
      </div>
      <div class="brand">
        <img src="/assets/img/benz-logo.png" alt="" />
        <p hidden class="bold-p">Benz</p>
      </div>
      <div class="brand">
        <img src="/assets/img/toyota-logo.png" alt="" />
        <p hidden class="bold-p">toyota</p>
      </div>
    </div>
  </div>

  <section class="display-section">
    <div class="display">
      <div class="display__img--box">
        <img
          src="/assets/img/man-driving-car.jpg"
          alt="man driving car"
          class="display__img"
        />
      </div>

      <h3>Find the perfect car to try before you buy</h3>
      <p>
        Make sure your future wheels work well with your lifestyle by taking
        your time in the driver's seat.
      </p>
    </div>
    <div hidden class="display">
      <h3>Find the perfect car to conquer the great outdoors</h3>
      <p>
        Go prepared in a rugged 4x4 to take on winter roads with ease, or a
        camper van to take you to the trees.
      </p>
    </div>
    <div hidden class="display">
      <h3>Find the perfect car to unwind for the weekend</h3>
      <p>
        From daily drivers to spirited sports cars, ditch the grind with
        convenient nearby cars.
      </p>
    </div>
    <div hidden class="display">
      <h3>Find the perfect car to upgrade your vacation plans</h3>
      <p>
        Skip the rental car counter and find the perfect car to complement your
        vacation vibe.
      </p>
    </div>
    <div hidden class="display">
      <h3>Find the perfect car for scenic corners & curves</h3>
      <p>
        Get your fill of high-performance thrills, with the richest selection of
        luxury and exotic vehicles anywhere.
      </p>
    </div>
    <button>Book Car</button>
  </section>
  <section class="question-section">
    <h2>Frequently asked questions</h2>
    <details>
      <summary>What do I need to book a car on Turo?</summary>
      <p>
        To book a car on Turo, you must create a Turo account, be 18 years old
        or older in the US, 21 years old or older in the UK, 23 years old or
        older in Canada, have a valid driver’s license, and get approved to
        drive on Turo. When you’re booking your first trip, you’ll go through a
        quick approval process by entering your driver’s license and some other
        information. In most cases, you’ll get approved immediately, and you’ll
        be set for all future road trips, day trips, and business trips!
      </p>
    </details>
  </section>
</main>
