<section class="box">
  <main>
    <div class="brand">
      <h2>{{ car.name }}</h2>
      <p>{{ car.brandName }}</p>

    </div>
    <div class="stars">
      <p class="star_p">{{car.rating}}<span><i class="bx bxs-star"></i></span>
      </p>
    </div>
    <div class="four-grid" >
      <div class="plus-icon" *ngFor="let detail of car.topDetails">
        <img [src]="detail.icon" [alt]="detail.type" />
        <p>{{ detail.detail }}</p>
      </div>
    </div>

    <div class="features">
      <p class="bold">description</p>
      <p class="description">
        {{ car.detail }}
      </p>
    </div>

    <div class="features" >
      <p class="bold">Features</p>
      <div class="two-grid">
        <div class="plus-icon item" *ngFor="let feature of car.features">
          <img [src]="feature.icon" [alt]="feature.feature" />
          <p>{{ feature.feature }}</p>
        </div>
      </div>
    </div>

    <div class="extras">
      <p class="bold">Rules</p>
      <p class="description">{{ car.description.rules }}</p>
    </div>

    <div class="guidelines">
      <p class="bold">guidelines</p>
      <p class="description">{{ car.description.guidelines }}</p>
    </div>

    <div class="rating" >
      <p class="bold">rating</p>
      <div class="container">
        <div class="skill-box" *ngFor="let rating of car.ratingsAndReviews">
          <span class="title">{{ rating.label }}</span>

          <div class="skill-bar">
            <span class="skill-per html">
              <span class="tooltip">{{ rating.value }}</span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="host">
      <h2>Host</h2>
      <div class="host__profile">
        <h2 class="host-name">{{ car.host.name }}</h2>
        <p class="main_p">
          {{ car.host.rating }}<span><i class="bx bxs-star"></i></span>
        </p>
        <div class="host__flex">
          <p class="main_p">{{ car.host.trips }} trips</p>
          <p class="main_p">Joined {{ car.host.joined }}</p>
        </div>
        <p class="lite_p">Typically responds in {{ car.host.responseTime }}</p>
      </div>
    </div> -->

    <div class="reviews">
      <p class="bold lite">reviews</p>

      <div class="review__box" *ngFor="let review of car.reviews">
        <div class="review">
          <div class="img-box">
            <img src="./assets/img/Memojis/Memoji4.png" alt="" />
          </div>
          <div class="review__content">
            <stars [rating]="review.rating"></stars>
            <p class="small">
              {{ review.reviewer }}<span>{{ review.date }}</span>
            </p>
            <p class="main_p">
              {{ review.comment }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
  <booking [car]="this.car" ></booking>
</section>

<div class="modal">
  <div class="card">
    <span class="close">&times;</span>
    <h2>{{ car.description.deluxeClass.title }}</h2>
    <p class="p">
      {{ car.description.deluxeClass.CTA }}
    </p>
    <ul *ngFor="let deluxe of car.description.deluxeClass.class">
      <li>
        <p class="bold b">{{ deluxe.heading }}</p>
        <p class="p">
          {{ deluxe.content }}
        </p>
      </li>
    </ul>
  </div>
</div>
