<div class="nav">
  <a href="/">

    <img
      src="../assets/img/logos/logo.png"
      alt="logo"
      class="logo"
    />
  </a>

  <nav class="top__nav">
    <ul>
      <li class="link" routerLinkActive="nav__active">
        <a href="">About Us</a>
      </li>
      <li class="link" routerLinkActive="nav__active">
        <a href="trust-&-safety">Trust & Safety</a>
      </li>
      <li
        class="link"
        routerLink="/how-drivefinder-works"
        routerLinkActive="nav__active"
      >
        <a href="how-drivefinder-works">How it works</a>
      </li>
    </ul>
  </nav>

  <button class="top__nav--btn">
    <a href="/authentication">Drive Now</a>
  </button>
</div>

<!-- hide nav items and button when logged in. it can be displayed 
under the dropdown of the user gmail pic -->
