<div class="nav">
  <a href="/">
    <img src="../assets/img/logos/logo.png" alt="logo" class="logo" />
  </a>

  <nav class="top__nav" *ngIf="!isAuthenticated">
    <ul>
      <li class="link" routerLinkActive="nav__active">
        <a href="">About Us</a>
      </li>
      <li class="link" routerLinkActive="nav__active">
        <a href="trust-&-safety">Trust & Safety</a>
      </li>
      <li
        class="link"
        routerLink="/how-drivefinder-works"
        routerLinkActive="nav__active"
      >
        <a href="how-drivefinder-works">How it works</a>
      </li>
    </ul>
  </nav>

  <button class="top__nav--btn" (click)="openModal()" *ngIf="!isAuthenticated">
    Drive Now
  </button>

  <div class="img-box" (click)="Sub = true">
    <img src="/assets/img/icons/user.svg" alt="" />
  </div>
</div>

<div class="sub" *ngIf="Sub">
  <user-sub></user-sub>
  <!-- fix the toggle or use the modal servic so that when i click on anywhere apart from it, it closes -->
</div>

<!-- <auth *ngIf="modalService.modalState$ | async" ></auth> -->
<auth *ngIf="(modalService.modalState$ | async) && !isAuthenticated"></auth>

<!-- hide nav items and button when logged in. it can be displayed 
under the dropdown of the user gmail pic -->

