.menu__wrapper {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  gap: 24px;
  height: var(--navbar-height);
  padding: 0px 16px;
  align-items: center;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

.menu__bar {
  display: flex;
  align-items: center;
}

.navigation {
  margin-left: 32px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  gap: 16px;
}

.navigation > li {
  display: flex;
  position: relative;
  cursor: pointer;
  align-items: center;
  min-height: 36px;
}

.navigation > li > a {
  color: var(--color-white);
  font-size: 14px;
  text-decoration: none;
}

.navigation > li > button {
  color: var(--color-white);
  transition: all 0.3s ease;
  text-decoration: none;
  border: none;
  cursor: pointer;
  z-index: 1;
  margin-right: -4px;
  align-items: center;
  min-height: 36px;
  font-size: 14px;
  gap: 4px;
  flex-wrap: nowrap;
  border-radius: 999px;
  padding: 4px 10px;
  white-space: nowrap;
  background: none;
  display: flex;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.navigation > li > button > svg {
  margin-top: 2px;
  fill: var(--color-white);
  transition: all 0.2s ease-in-out;
}

.navigation > li:hover > button svg {
  fill: var(--link-gray-hover);
  rotate: 180deg;
}

.navigation > li:hover > button {
  color: var(--link-gray-hover);
  background-color: var(--gray);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.99) translateY(-0.7em);
    transform-origin: top;
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

/* dropdown menu */
.dropdown__wrapper {
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 11;
}

.dropdown {
  border-radius: 8px;
  background-color: var(--white);
  /* display: none; */
  display: block;
  padding: 8px;
  box-shadow: 0 50px 100px -20px rgba(0, 0, 0, 0.12),
    0 30px 60px -30px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.2s ease-in-out;
}

.list-items-with-description {
  list-style-type: none;
  display: grid !important;
  gap: 0 !important;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}

.list-items-with-description li {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 10px;
}

.list-items-with-description li:hover {
  background-color: var(--gray);
  border-radius: 6px;
}

.list-items-with-description li svg {
  stroke: var(--link-gray-hover);
  stroke-width: 1px;
  width: 35px;
  height: auto;
}

.item-title h3 {
  font-weight: 600;
  font-size: 14px;
  color: var(--link-gray-hover);
  margin: 0;
  padding-bottom: 5px;
}

.item-title p {
  font-size: 12px;
  white-space: nowrap;
  color: var(--color-black);
}

.burger-menu {
  display: none;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

@media (max-width: 769px) {
  .hide,
  .img-box {
    display: none;
  }

  .burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    min-width: 32px;
    min-height: 32px;
    pointer-events: all;
    gap: 4px;
    flex-direction: column;
    border: 1px solid var(--color-white);
  }

  .burger-menu svg {
    height: 20px;
    stroke: var(--color-white);
    width: 20px;
  }
}

.nav {
  padding: 0 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(4px);
  border-bottom: 1px solid var(--grey-secondary);
  position: sticky;
}
.logo {
  height: 1.2rem;
  cursor: pointer;
}

.top__nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.top__nav--btn {
  background-color: var(--primary-color);
  padding: 9px 15px;
  border: 0;
  color: var(--color-white);
  font-weight: 500;
  border-radius: 3px;
}

.top__nav--btn:hover {
  box-shadow: 2px 2px 20px 0px rgba(var(--primary-color-rgb), 0.5);
}

a {
  text-decoration: none;
  color: var(--color-white);
}

.link,
.nav__active {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  color: var(--color-white);
  cursor: pointer;
  padding-bottom: 4px;
  /* padding-bottom: 10px; */
}

.nav__active:before,
.link:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: var(--primary-color);
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.nav__active:before,
.link:hover:before,
.link:focus:before,
.link:active:before {
  right: 0;
}

.img-box img {
  height: 2.4rem;
  padding: 4px;
  border-radius: 50px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.6s ease;
}

.img-box svg {
  height: auto;
  width: 2.3rem;
  cursor: pointer;
}

.img-box img:hover {
  border: 1px solid var(--color-white);
}

.sub {
  z-index: 10;
  position: absolute;
  right: 2%;
}
