article {
  width: 15rem;
  background: var(--color-white);
  border-radius: 6px;
  padding: 17px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: fixed;
  right: 1.7rem;
}

.top-item {
  display: flex;
  gap: 7px;
  padding-top: 10px;
  align-items: center;
}

.list-item {
  display: flex;
  gap: 1rem;

  align-items: center;
  transition: all 0.4s ease;
  padding: 7px 3px;
  cursor: pointer;
  border-radius: 7px;
}

.list-item:last-child {
  border-top: 1px solid var(--color-black);
  border-radius: 0;
}

.list-item:hover {
  background-color: var(--bg-color-odd);
}

.icon {
  height: 1.4rem;
  padding: 4px;
  border-radius: 50px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.6s ease;
}

.mail {
  text-transform: lowercase;
  font-size: 13px;
}

.list-item p {
  font-weight: 700;
  color: var(--color-ash);
  font-size: 0.9rem;
}

h3 {
  margin: 0;
}

.user__svg {
  height: auto;
  width: 2.3rem;
}

.cancel {
  position: absolute;
  right: 15px;
  top: 6px;
  cursor: pointer;
}

.user-img {
  background: #1cbac1;
  padding: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 1rem;
  color: var(--color-white);
  font-weight: 700;
  font-size: 1.3rem;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.6s ease;
}
