:root {
  --color-white: #fff;
  --color-secondary: #fcfcfc;
  --color-grey: #52616a;
  --color-black: #000;
  --color-ash: #747474;
  --color-error: rgb(157, 12, 12);


  --bg: #fff;
  --text: #7288a2;
  --gray: #4d5974;
  --lightgray: #e5e5e5;
  --blue: #03b5d2;
}

html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: var(--color-black);
}

button {
  font-family: inherit;
}

button:disabled:hover {
  cursor: not-allowed;
}