<nav></nav>

<div class="home">
  <div>
    <h1 class="heading1">
      DriveFinder -<br />
      <span>
        Your Gateway to <br />
        Seamless Car Rentals!</span
      >
    </h1>
    <button [routerLink]="'/auth/signup'" class="home__button">
      Get started
    </button>
  </div>
</div>

<section class="features__session">
  <h2 class="features__h1">Features</h2>
  <div class="features">
    <div class="features__div">
      <img class="feature__img" src="/assets/img/img-1.jpg" />
      <div class="feature__block">
        <h4 class="feature__heading">Real-Time Location Tracking</h4>
        <p class="feature__p">
          Effortlessly find available cars near you. Our platform updates in
          real-time, ensuring accurate and timely information.
        </p>
      </div>
    </div>
    <div class="features__div">
      <img class="feature__img" src="/assets/img/img-1.jpg" />
      <div class="feature__block">
        <h4 class="feature__heading">Diverse Fleet Selection</h4>
        <p class="feature__p">
          From compact cars to SUVs, our extensive fleet caters to all your
          travel needs. Filter by model, brand, or features to find the vehicle
          that suits you.
        </p>
      </div>
    </div>
    <div class="features__div">
      <img class="feature__img" src="/assets/img/img-1.jpg" />
      <div class="feature__block">
        <h4 class="feature__heading">Instant Booking</h4>
        <p class="feature__p">
          Reserve your chosen car with just a few clicks. Enjoy the convenience
          of a streamlined booking process, saving you time for your upcoming
          journey.
        </p>
      </div>
    </div>
    <div class="features__div">
      <img class="feature__img" src="/assets/img/img-1.jpg" />
      <div class="feature__block">
        <h4 class="feature__heading">Transparent Pricing</h4>
        <p class="feature__p">
          No hidden fees! Our pricing model is transparent, providing you with a
          clear breakdown of costs, including taxes and insurance.
        </p>
      </div>
    </div>
  </div>
</section>

Why Zipcar? Reserve wheels when you want them, by the hour or day, and only pay
for the time you drive. piggy bank icon Save money Zipcar covers gas, insurance
options,* parking, and maintenance for a potential savings of $1000/month over
car ownership. map icon Cars near you Zipcars live in your local neighborhood,
and in cities, campuses and airports across the globe. half sun/moon icon Drive
on-demand No waiting in line at the counter. (No need to even search for your
keys!) Just book and go. rocket icon Go beyond public transit Zipcar is the
perfect complement to the bus and train—whether it’s local errands or weekend
adventures.
