.experiences {
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience {
  width: max-content;
}

.imgbox img {
  width: 70%;
  border-radius: 5px;
}

.experience__detail {
  display: flex;
  align-items: center;
}
.experience__detail img {
  height: 2rem;
}
