
<div class="experiences">
  <div class="experience">
    <div class="imgbox">
      <img src="/assets/img/image_experience_electric.jpg" alt="" />
    </div>
    <div class="experience__detail">
      <img src="/assets/img/electric.svg" alt="" />
      <p>electric</p>
    </div>
  </div>
  <div class="experience">
    <div class="imgbox">
      <img src="/assets/img/image_experience_electric.jpg" alt="" />
    </div>
    <div class="experience__detail">
      <img src="/assets/img/electric.svg" alt="" />
      <p>electric</p>
    </div>
  </div>
</div>
